@model IEnumerable<semifinishAdmin.Models.siixsem_semifinish_t>

@{
    ViewBag.Title = "Index";
}
<div class="window">
    <div class="window-title">SEMIFINISH</div>
    <div class="window-content">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table id="tblSemifinish" class="table table-striped table-bordered" style="width:100%;font-size:12px;">
            <thead>
                <tr>
                    <th>SEMIFINISH</th>
                    <th>LINKAGE SEQ</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.se_description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.se_linkage_seq)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.se_id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.se_id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.se_id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>