@model semifinishAdmin.Models.siixsem_semi_manu_td

@{
    ViewBag.Title = "Details";
}

<div class="window" style="width:600px;">
    <div class="window-title">DETALLE MODELO</div>
    <div class="window-content">
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>Modelo:</dt>
                <dd>
                    @Html.DisplayFor(model => model.siixsem_models_t.se_description)
                </dd>
                <dt>Programa Cogiscan:</dt>
                <dd>
                    @Html.DisplayFor(model => model.siixsem_cgs_programs_t.se_description)
                </dd>
                <dt>Finish good:</dt>
                <dd>
                    @Html.DisplayFor(model => model.siixsem_semifinish_t.se_description)
                </dd>

            </dl>
        </div>
        <hr />
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.se_id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>