@model semifinishAdmin.Models.siixsem_semi_manu_td

@{
    ViewBag.Title = "Edit";
}

<div class="window" style="width:600px;">
    <div class="window-title">EDITAR MANU MODELO</div>
    <div class="window-content">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.se_id)

                <div class="form-group">
                    @Html.LabelFor(model => model.se_id_model, "Modelo:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("se_id_model", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.se_id_model, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.se_id_manu, "Semifinish MANU:", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.DropDownList("se_id_manu", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.se_id_manu, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.se_id_cgs_prg, "Programa Cogiscan:", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.DropDownList("se_id_cgs_prg", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.se_id_cgs_prg, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>