@model IEnumerable<semifinishAdmin.Models.siixsem_semifinish_t>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.se_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.se_linkage_seq)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.se_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.se_linkage_seq)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.se_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.se_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.se_id })
        </td>
    </tr>
}

</table>
