<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WIP SEMIFINISH CONFIGURATOR</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-expand-lg navbar-light window" style="margin-bottom: 20px; background-color: #3386ff; background-image: url(../../Images/logoTrans.png); background-repeat: no-repeat; background-size: 150px; background-position-y: center; background-position-x: 130px; height: 80px;">
        <div class="container">
            @*<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SEMIFINISH CONFIGURATOR", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>*@
            <div class="navbar-collapse collapse">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Catálogos
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li>@Html.ActionLink("Modelos", "Index", "modelos", new object { }, new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Semifinish", "Index", "semifinish", new object { }, new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Programas de Cogiscan", "Index", "cgsPrograms", new object { }, new { @class = "dropdown-item" })</li>
                    </ul>
                </div>
                <div class="dropdown" style="margin-left:20px;">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Modelos Seminifinish
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li>@Html.ActionLink("SMTT Semifinish", "Index", "semi_SMTT", new object { }, new { @class = "dropdown-item " })</li>
                        <li>@Html.ActionLink("SMTB Semifinish", "Index", "semi_SMTB", new object { }, new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Manu Semifinish", "Index", "semi_MANU", new object { }, new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("FG Semifinish", "Index", "semi_FG", new object { }, new { @class = "dropdown-item" })</li>
                    </ul>
                </div>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
 
    <div class="container body-content" style="max-width: 1400px;">
        @RenderBody()
        <hr />
        <footer>
            @*<p>&copy; @DateTime.Now.Year - WIP SEMIFINISH CONFIGURATOR</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
